html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.full-game {
    max-height: 100vh;
    display: block;
    margin: 0 auto;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%) */
}