html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.scaler {

    max-width: 1200px;
    margin: auto;
    /* background: #ececec; */
    min-height: 100%;

    background-image: url(img/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background: url('./Beach_pong.png') no-repeat; */

}

.scaler:focus-visible {
    border: 1px solid red;
}