html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.full-game {
    max-height: 100vh;
    display: block;
    margin: 0 auto;
}

.start-svg {
    cursor: pointer;
}

.start-svg:active {
    user-select: none;
    fill: red;
}

.scores {
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

button, input {
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

