@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    /* src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2'); */
    src: local('Raleway'), local('Raleway-Regular'), url(../font/Raleway-Regular.woff2) format('woff2');

}

.st-9 {
    font-family: 'Raleway';
}

/*
* ID i CSS... Puuuh ha.
*/
#svg {
    width: 50%;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}